{% extends 'base.html.twig' %}

{% block title %} Saison - Ajout {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        <div class="row">
        	<div class="col-sm w-100">
                {{ form_row(form.serie) }}
            </div>
        	<div class="col-sm">
                {{ form_row(form.nom) }}
            </div>
    	</div>
    	
        <div class="row">
        	<div class="col-sm">
                {{ form_row(form.numero_saison) }}
            </div>
        	<div class="col-sm">
                {{ form_row(form.nombre_episode) }}
            </div>
    	</div>
        
        <div class="row text-center center-item">
            {{ form_row(form.save) }}
        </div>
    </div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#saison_serie").select2();
		});
	</script>
{% endblock %}