{% extends 'base.html.twig' %}

{% block title %} Livre - Ajout {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        <div class="row">
        	<div class="col-sm">
                {{ form_row(form.titre) }}
            </div>
        	<div class="col-sm">
                {{ form_row(form.titre_original) }}
            </div>
    	</div>
    	
        <div class="row">
        	<div class="col-sm">
                {{ form_row(form.auteur) }}
            </div>
        	<div class="col-sm">
                {{ form_row(form.premiere_edition) }}
            </div>
    	</div>
    	
        <div class="row">
        	<div class="col-sm w-100">
                {{ form_row(form.saga) }}
            </div>
        	<div class="col-sm">
                {{ form_row(form.tome) }}
            </div>
    	</div>
    	
        <div class="row">
        	<div class="col-sm w-100">
                {{ form_row(form.type) }}
            </div>
        	<div class="col-sm w-100">
                {{ form_row(form.categories) }}
            </div>
    	</div>
    	
    	<hr>
    	
    	<div id="livrePersonnes">
    		<div class="row">
    			<div class="col-sm-9">Propriétaires</div>
    			<div class="col-sm-3 addElement"><i class="fas fa-plus"></i></div>
    		</div>
    	</div>
        
        <div class="row text-center center-item">
            {{ form_row(form.save) }}
        </div>
    </div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
{% endblock %}

{% block script %}
	<script src="{{ asset('js/collection.js') }}"></script>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#livre_type, #livre_saga").select2();
			$("#livre_categories").select2({
				multiple: true
			});
			
			var personnes = JSON.parse('{{ personnes }}'.replace(/&quot;/g, '"'));
			var lieux = JSON.parse('{{ lieux }}'.replace(/&quot;/g, '"'));
			var formats = JSON.parse('{{ formats }}'.replace(/&quot;/g, '"'));
			
			 var index = 0;
			 
			 $(".addElement").click(function(){
				index = addNewLivreLivrePersonne(index, personnes, lieux, formats);
			});
		});
	</script>
{% endblock %}