{% extends 'base.html.twig' %}

{% block title %} Photo - ID {{ photo.id }} {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        <div class="row">
        	<div class="col-sm">
        		{{ image(photo) | raw }}
        	</div>
        	<div class="col-sm center_img">
                {{ form_row(form.nom) }}
            </div>
    	</div>
        
        <div class="row text-center center-item">
            {{ form_row(form.save) }}
        </div>
    </div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
{% endblock %}