{% extends 'base.html.twig' %}

{% block title %}Épisodes{% endblock %}

{% block body %}
	<div class="card text-center">
        <div class="card-header text-left">
            {{ pagination.total }} épisode{% if pagination.total > 1 %}s{% endif %} {% if pagination.nbr_page > 0 %} - Page {{ pagination.page }} / {{ pagination.nbr_page }} {% endif %}
            {#% if is_granted('ROLE_UTILISATEUR') %}
	            {{ ajouter(path('episode_ajouter'), "float-right marg-r-2") | raw }}
	        {% endif %#}
        </div>
        <div class="card-body">
        	{% if personnes is empty %}
        		<div class="text-info text-center">Aucun membre correspondant à la recherche.</div>
        	{% else %}
            	<table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Pseudo</th>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for personne in personnes %}
                            <tr>
                                <td>{{ personne.id }}</td>
                                <td>
                                	<a href="{{ path('personne_afficher', {'username': personne.username}) }}">
                                        {{ personne.username }}
                                    </a>
                                </td>
                                <td>{{ personne.prenom }} {{ personne.nom }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
    			</table>
			{% endif %}
        </div>
        <div class="card-footer text-muted">
            {% include 'app/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}