{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
	<div class="card text-center">
        <div class="card-header text-left">
            {{ pagination.total }} épisode{% if pagination.total > 1 %}s{% endif %} {% if pagination.nbr_page > 0 %} - Page {{ pagination.page }} / {{ pagination.nbr_page }} {% endif %}
        </div>
        <div class="card-body">
        	{% if personnes is empty %}
        		<div class="text-info text-center">Aucun membre correspondant à la recherche.</div>
        	{% else %}
            	<table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Membres</th>
                            <th>Email</th>
                            <th>Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for personne in personnes %}
                            <tr>
                                <td>{{ avatar(personne, "img-fluid shadow-sm img-thumbnail avatar") | raw }}</td>
                                <td>
                                	{{ personne.prenom }} {{ personne.nom }}<br>
                                    ({{ personne.username }})
                                </td>
                                <td>{{ personne.email }}</td>
                                <td>{{ personne.lieu.adresse | raw }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
    			</table>
			{% endif %}
        </div>
        <div class="card-footer text-muted">
            {% include 'app/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}