{% extends 'base.html.twig' %}

{% block title %} Acteur - Modification {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        <div class="row">
        	<div class="col-sm">
            	{{ form_row(form.prenom) }}
            </div>
        	<div class="col-sm">
            	{{ form_row(form.nom) }}
            </div>
    	</div>
    	
    	<div class="row">
        	<div class="col-sm">
            	{{ form_row(form.email) }}
            </div>
        	<div class="col-sm">
            	{{ form_row(form.password) }}
            </div>
    	</div>
    	
    	<div class="row">
			<div class="col-sm bold">
				Toujours afficher les titres originaux
			</div>
		</div>
		<div class="row">
			<div class="col-sm w-100">
			    {{ form_row(form.livre_vo) }}
			</div>
			<div class="col-sm w-100">
			    {{ form_row(form.film_vo) }}
			</div>
			<div class="col-sm w-100">
			    {{ form_row(form.episode_vo) }}
			</div>
		</div>
    	
    	<div class="row">
			<div class="col-sm bold">
				Préférence
			</div>
		</div>
		<div class="row">
			<div class="col-sm w-100">
			    {{ form_row(form.livre_favori) }}
			</div>
			<div class="col-sm w-100">
			</div>
		</div>
		<div class="row">
			<div class="col-sm w-100">
			    {{ form_row(form.film_favori) }}
			</div>
			<div class="col-sm w-100">
			    {{ form_row(form.acteur_favori) }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm w-100">
			    {{ form_row(form.serie_favorie) }}
			</div>
			<div class="col-sm w-100">
			    {{ form_row(form.episode_favori) }}
			</div>
		</div>
        
    	<div class="row text-center center-item">
            {{ form_row(form.save) }}
        </div>
	</div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
			$("form select").select2({
			    minimumResultsForSearch: -1
			});
        });
    </script>
{% endblock %}
