{% extends 'base.html.twig' %}

{% block title %}Nationalites{% endblock %}

{% block body %}
    <div class="card text-center">
        <div class="card-header text-left bg-primary">
            {{ pagination.total }} nationalite{% if pagination.total > 1 %}s{% endif %} {% if pagination.nbr_page > 0 %} - Page {{ pagination.page }} / {{ pagination.nbr_page }} {% endif %}
            {% if is_granted('ROLE_UTILISATEUR') %}
            	{{ ajouter(path('nationalite_ajouter'), 'float-right marg-r-2') | raw }}
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pays</th>
                    </tr>
                </thead>
                <tbody>
                	{% if nationalites is empty %}
                        <td colspan="3" class="text-info text-center">Aucune nationalite correspondant à la recherche.</td>
                    {% else %}
                    	{% for nationalite in nationalites %}
                            <tr>
                                <td> {{ nationalite.id }} </td>
                                <td>
                                	<a href="{{ path('nationalite_afficher', {'slug': nationalite.slug, 'page': pagination.page}) }}">
                                        {{ nationalite.pays }} {% if nationalite.etat is not null %} ({{ nationalite.etat }}) {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
			</table>
        </div>
        <div class="card-footer text-muted">
        	{% include 'app/pagination.html.twig' %}
        </div>
    </div> 
{% endblock %}