{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}
	<div class="card text-center">
        <div class="card-header text-left">
            {{ pagination.total }} acteur{% if pagination.total > 1 %}s{% endif %} {% if pagination.nbr_page > 0 %} - Page {{ pagination.page }} / {{ pagination.nbr_page }} {% endif %}
            {% if is_granted('ROLE_UTILISATEUR') %}
	            {{ ajouter(path('acteur_ajouter'), "float-right marg-r-2") | raw }}
	        {% endif %}
        </div>
        <div class="card-body">
        	<div class="row">
        		{% if acteurs is empty %}
        			<div class="col-12 text-center">Il  n'y a aucun acteur correspondant à la recherche.</div>
        		{% else %}
            		{% for acteur in acteurs %}
                        <div class="col-img">
                            <div class="img-elt">
                            	<a href="{{ path('acteur_afficher', {'slug': acteur.slug, 'page': pagination.page}) | decode }}">
        						    {{ image(acteur) | raw }}<br>
        						    {{ acteur.nomComplet }}
        						</a>
    						</div>
                        </div>
                    {% endfor %}
                {% endif %}
        	</div>
        </div>
        <div class="card-footer text-muted">
            {% include 'app/pagination.html.twig' %}
        </div>
    </div>
{% endblock %}