{% extends 'base.html.twig' %}

{% block title %} Acteur - Modification {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="shadow-sm p-3 mb-5 bg-white rounded border">
        <div class="row">
        	<div class="col-sm">
            	{{ form_row(form.prenom) }}
            </div>
        	<div class="col-sm">
            	{{ form_row(form.nom) }}
            </div>
        	<div class="col-sm">
            	{{ form_row(form.nom_usage) }}
            </div>
            <div class="col-sm">
            	{{ form_row(form.nom_naissance) }}
            </div>
    	</div>
    	
    	<div class="row">
        	<div class="col-sm">
            	{{ form_row(form.date_naissance) }}
            </div>
            <div class="col-sm">
            	{{ form_row(form.date_deces) }}
            </div>
            <div class="col-sm">
        		<div id="sexe" class="w-100">
                    {{ form_row(form.sexe) }}
                </div>
        	</div>
    	</div>
    	
        <div class="row">
        	<div class="col-sm w-100">
    			{{ form_row(form.nationalites) }}
    		</div>
        </div>
        
    	<div class="row text-center center-item">
            {{ form_row(form.save) }}
        </div>
	</div>
    
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
			$("#acteur_nationalites").select2({
				"multiple": true
			});

			$("#acteur_sexe").select2({
			    minimumResultsForSearch: -1
			});

			$("#acteur_date_naissance select").select2();
			
			$("#acteur_date_deces select").select2();;
        });
    </script>
{% endblock %}
