{% if filmPersonnes is empty %}
	<div class="col-12 text-center">
		Personne ne possède ce film.
	</div>
{% else %}
	<table style="margin-left: 30px">
		{% for filmPersonne in filmPersonnes %}
			<tr align="center">
				<td>{{ filmPersonne.personne.username }}</td>
				<td>{{ filmPersonne.format.nom }}</td>
				<td>{{ filmPersonne.lieu.nom }}</td>
				<td>
					{% if filmPersonne.dateAchat is not null %}
				        {{ filmPersonne.dateAchat | date('d/m/Y') }}
				    {% endif %}
				</td>
				{% if is_granted('ROLE_UTILISATEUR') %}
					<td>
						<span id="edit_pers_{{ filmPersonne.id }}" class="link">
							<span class="oi oi-pencil"></span>
						</span>
						{% if is_granted('ROLE_ADMIN') or filmPersonne.personne.id == app.user.id %}
							<span id="delete_pers_{{ filmPersonne.id }}" class="link">
								<span class="oi oi-x"></span>
							</span>
						{% endif %}
					</td>
				{% endif %}
			</tr>
        {% endfor %}
        </table>
{% endif %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			{% for filmPersonne in filmPersonnes %}
				var id = "#edit_pers_{{ filmPersonne.id }}";
    			$(id).click(function(){
    				$("html").showLoading();
                	Ajax("{{ path('ajax_film_personne_editer_personne', {'id': filmPersonne.id}) }}", "#modal_film");
    			});

    			var id_del = "#delete_pers_{{ filmPersonne.id }}";
    			$(id_del).click(function(){
        			var url = "{{ path('ajax_film_personne_supprimer_personne', {'id': filmPersonne.id}) }}";
        			var url_base = "{{ path('personne_pour_film', {'slug': filmPersonne.film.slug}) }}";
        			deleteAjax(url, url_base, "#personnes");
    			});
			{% endfor %}
		})
	</script>
{% endblock %}